.bullet-list {
    width: 100%;
    max-width: 292px;
    padding: 0;
    color: $Dark-75;
    list-style: none;

    &__item {
        display: flex;
        align-items: center;
    }

    &__dot {
        width: 10.43px;
        height: 10px;
        border-radius: 50%;
        background: $Dark-25;
        margin-top: 7px;

        align-self: flex-start;
        flex-shrink: 0;
    }

    &__text {
        margin-left: 10.43px;
    }
}
