@mixin toggle {
    &__checkbox {
        appearance: none;
        -webkit-appearance: none;

        position: relative;
        width: 40px;
        height: 20px;

        padding: 0;
        margin: 0;

        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            top: 0;
            left: 0;

            width: inherit;
            height: inherit;

            border-radius: 10px;
            border: 1px solid $Dark-25;

            transition: border .2s linear;
        }

        &::after {
            width: 12px;
            height: 12px;
            background: $Dark-25;
            border-radius: 50%;
            top: 50%;
            left: 4px;

            transform: translateY(-50%);
            transition: background .2s linear, left .2s linear;
        }
    }

    &__checkbox:checked::before {
        border-color: $Purple;
    }

    &__checkbox:checked::after {
        left: calc(100% - 16px);
        background: $Gradient;
    }
}
