mixin radio-buttons
    .radio
        label.radio__item
            input(type="radio").radio__input(name='radio-buttons')(checked)
            span.radio__text Мужчина
        label.radio__item
            input(type="radio").radio__input(name='radio-buttons')
            span.radio__text Женщина
