mixin benefits(arrayBenefits)
    .benefits
        each val in arrayBenefits
            .benefit
                img(src=require(`/assets/img/benefites/${val.logo}`), alt="").benefit__logo
                .benefit__content
                    .benefit__title= val.title
                    .benefit__text= val.text
