include ../checkbox/checkbox.pug

mixin checkbox-list(options)
    .checkbox-list
        each val, index in options.labels
            label.checkbox-list__item
                if (options.checked.includes(index))
                    +checkbox('checkbox-list__input', true)
                else
                    +checkbox('checkbox-list__input')
                .checkbox-list__label= val
