include ../checkbox-list/checkbox-list.pug

mixin expandable-checkbox-list(title, options)
    details.expandable-checkbox-list
        summary.expandable-checkbox-list__title= title
            i.material-icons.material-icons--color50.expandable-checkbox-list__icon expand_more
        +checkbox-list(options)
