.expandable-checkbox-list {
    width: 100%;
    max-width: 266px;

    position: relative;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $Dark;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 700;
        text-transform: uppercase;
        list-style: none;

        margin: 18px 0;

        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &[open] &__icon {
        transform: rotate(180deg);
    }
}
