doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
    body
        include ./assets/components/text-field/text-field.pug
        include ./assets/components/bullet-list/bullet-list.pug
        include ./assets/components/radio-buttons/radio-buttons.pug

        +text-field('Email')
        +bullet-list
        +radio-buttons
