@import './utilities/fonts';
@import './utilities/vars';
@import '../fonts/material-icons/materila-icons.scss';
@import '../components/text-field/text-filed.scss';
@import '../components/bullet-list/bullet-list.scss';
@import '../components/radio-buttons/radio-buttons.scss';
@import '../components/toggle-buttons/toggle.scss';
@import '../components/masked-text-field/masked-text-field.scss';
@import '../components/benefites/benefites.scss';
@import '../components/checkbox/checkbox.scss';
@import '../components/checkbox-list/checkbox-list.scss';
@import '../components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../components/buttons/small-button.scss';
@import '../components/buttons/button-filled.scss';
@import '../components/buttons/button-border.scss';
@import '../components/buttons/big-button.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $Dark-50;
}
