mixin benefites(arrayBenefites)
    .benefites
        each val in arrayBenefites
            .benefit
                img(src=require(`/assets/img/benefites/${val.logo}`), alt="").benefit__logo
                .benefit__content
                    .benefit__title= val.title
                    .benefit__text= val.text
