// COLORS
$Dark-25: rgba(31, 32, 65, 0.25);
$Dark-50: rgba(31, 32, 65, 0.5);
$Dark-75: rgba(31, 32, 65, 0.75);
$Dark: rgba(31, 32, 65, 1);
$Purple: #BC9CFF;
$Gradient: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
